.Header {
  background-color: var(--blue);
  color: white;
  padding: 1rem;
}

.formError {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #ff4136;
}

.Informational {
  background-color: var(--yellow);
  font-weight: 600;
  padding: 5px 20px;
}

.DocSummaryList {
  border: 1px solid var(--blue);
  div {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

.AgentHeader {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  padding: 10px;
  margin: 15px 0;
}

.AddAgentForm {
  background-color: rgb(216, 221, 221);
  padding: 20px;
}

.DeleteButton {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
