.AgentBox {
  border: 1px solid gray;
  margin-bottom: 10px;
  background-color: #f2f5f3;
}

.AgentDeleteButton {
  margin: 10px;
}

.PoaHeader {
  background-color: #4c70b8;
  color: white;
  padding-left: 10px;
  text-align: center;
}

.PoaLabelText {
  color: var(--black);
  font-weight: 600;
}

hr.solid {
  border-top: 3px solid #bbb;
}
