.SummarySection {
  border: 1px solid grey;
  margin-bottom: 50px;
  background-color: #edf0f8;
}

.SummaryHeader {
  flex: 1;
  background-color: #4c70b8;
  color: var(--white);
  padding: 10px;
}

.SummarySubheader {
  flex: 1;
  background-color: #8ca6db;
  color: white;
  padding: 10px;
}

.SummaryField {
  border: 1px solid lightgray;
  padding: 5px 10px;

  span {
    color: #335fb8;
  }
}

.EditSummaryRow {
  border-top: 1px solid var(--gray);
}

.EditButton {
  margin: 10px 0;
}
