.SummarySection {
  border: 1px solid grey;
  margin-bottom: 50px;
}

.SummaryHeader {
  flex: 1;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
}

.SummarySubheader {
  flex: 1;
  background-color: var(--green);
  color: white;
  padding: 10px;
}

.SummaryField {
  border: 1px solid lightgray;
  padding: 5px 10px;

  span {
    color: var(--blue);
  }
}

.EditButton {
  margin: 10px 0;
}
